<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{tweet.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{tweet.list.headline}]]</h1>
                <div>
                    <a th:href="@{/tweets/add}" class="btn btn-primary ms-2">[[#{tweet.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${tweets.empty}">[[#{tweet.list.empty}]]</div>
            <div th:if="${!tweets.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{tweet.id.label}]]</th>
                            <th scope="col">[[#{tweet.dateCreated.label}]]</th>
                            <th scope="col">[[#{tweet.numberOfLikes.label}]]</th>
                            <th scope="col">[[#{tweet.sourceOfTweet.label}]]</th>
                            <th scope="col">[[#{tweet.tweetContent.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="tweet : ${tweets}">
                            <td>[[${tweet.id}]]</td>
                            <td>[[${tweet.dateCreated}]]</td>
                            <td>[[${tweet.numberOfLikes}]]</td>
                            <td>[[${tweet.sourceOfTweet}]]</td>
                            <td>[[${tweet.tweetContent}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/tweets/edit/{id}(id=${tweet.id})}" class="btn btn-sm btn-secondary">[[#{tweet.list.edit}]]</a>
                                    <form th:action="@{/tweets/delete/{id}(id=${tweet.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{tweet.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
